.header.jumbotron.masthead
  .inner
    %h1 StaunchRobots, Web Developers for Hire
    %p.desc We are a web services company specializing in server side MVC technologies to xxxxxxxxx consulting companies.
    %p.download-info
      %a.btn.btn-large.view_code{:href => "https://github.com/twitter/bootstrap/"} 
        View our Code
        %br
        %span
          on github
      %a.btn.btn-large.contact_btn{:href => "assets/bootstrap.zip"} Contact Us

%hr.soften
  .marketing
    .soften
      %h1 Latest Stauch Contrapoints.
      %p.marketing-byline
        For more examples contact us at inquiry@staunchrobots.com and we can send you more examples
      %ul.thumbnails.example-sites
        %li.span4
          %a.thumbnail{:href => "http://kippt.com/", :target => "_blank"}
            %img{:alt => "Kippt", :src => "assets/example-1.png"}
        %li.span4
          %a.thumbnail{:href => "http://www.fleetio.com/", :target => "_blank"}
            %img{:alt => "Fleetio", :src => "assets/example-2.png"}
        %li.span4
          %a.thumbnail{:href => "http://www.jshint.com/", :target => "_blank"}
            %img{:alt => "JS Hint", :src => "assets/example-3.png"}
    %h1 Designed for everyone, everywhere.
    %p.marketing-byline Need reasons to love Bootstrap? Look no further.
    .row
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_042_group.png"}
          %h2 Built for and by nerds
          %p Like you, we love building awesome products on the web. We love it so much, we decided to help people just like us do it easier, better, and faster. Bootstrap is built for you.
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_079_podium.png"}
          %h2 For all skill levels
          %p Bootstrap is designed to help people of all skill levels—designer or developer, huge nerd or early beginner. Use it as a complete kit or use to start something more complex.
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_163_iphone.png"}
          %h2 Cross-everything
          %p Originally built with only modern browsers in mind, Bootstrap has evolved to include support for all major browsers (even IE7!) and, with Bootstrap 2, tablets and smartphones, too.
    / /row
    .row
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_155_show_thumbnails.png"}
          %h2 12-column grid
          %p Grid systems aren't everything, but having a durable and flexible one at the core of your work can make development much simpler. Use our built-in grid classes or roll your own.
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_214_resize_small.png"}
          %h2 Responsive design
          %p With Bootstrap 2, we've gone fully responsive. Our components are scaled according to a range of resolutions and devices to provide a consistent experience, no matter what.
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_266_book_open.png"}
          %h2 Styleguide docs
          %p Unlike other front-end toolkits, Bootstrap was designed first and foremost as a styleguide to document not only our features, but best practices and living, coded examples.
    / /row
    .row
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_082_roundabout.png"}
          %h2 Growing library
          %p Despite being only 10kb (gzipped), Bootstrap is one of the most complete front-end toolkits out there with dozens of fully functional components ready to be put to use.
      .span4
        %img.bs-icon{:src => "assets/img/glyphicons/glyphicons_009_magic.png"}
          %h2 Custom jQuery plugins
          %p What good is an awesome design component without easy-to-use, proper, and extensible interactions? With Bootstrap, you get custom-built jQuery plugins to bring your projects to life.
      .span4
        %img.bs-icon{:src => "assets/img/less-small.png"}
          %h2 Built on LESS
          %p Where vanilla CSS falters, LESS excels. Variables, nesting, operations, and mixins in LESS makes coding CSS faster and more efficient with minimal overhead.
    / /row
    .row
      .span3
        %img.small-bs-icon{:src => "assets/img/icon-html5.png"}
          %h3 HTML5
          %p Built to support new HTML5 elements and syntax.
      .span3
        %img.small-bs-icon{:src => "assets/img/icon-css3.png"}
          %h3 CSS3
          %p Progressively enhanced components for ultimate style.
      .span3
        %img.small-bs-icon{:src => "assets/img/icon-github.png"}
          %h3 Open-source
          %p
            Built for and maintained by the community via
            = succeed "." do
              %a{:href => "https://github.com"} GitHub
      .span3
        %img.small-bs-icon{:src => "assets/img/icon-twitter.png"}
          %h3 Made at Twitter
          %p
            Brought to you by an experienced
            %a{:href => "http://twitter.com/fat"} engineer
            and
            = succeed "." do
              %a{:href => "http://twitter.com/mdo"} designer
    / /row

  / /.marketing
  /
    Footer
    \==================================================
  %footer.footer
    %p.pull-right
      %a{:href => "#"} Back to top
    %p
      Designed and built with all the love in the world
      %a{:href => "http://twitter.com/twitter", :target => "_blank"} @twitter
      by
      %a{:href => "http://twitter.com/mdo", :target => "_blank"} @mdo
      and
      = succeed "." do
        %a{:href => "http://twitter.com/fat", :target => "_blank"} @fat
    %p
      Code licensed under the
      = succeed "." do
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0", :target => "_blank"} Apache License v2.0
      Documentation licensed under
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
    %p
      Icons from
      = succeed "," do
        %a{:href => "http://glyphicons.com"} Glyphicons Free
      licensed under
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
