#services-title
  %h1.jumbotron StaunchRobots Services
  %p.services_desc Choose services a la cart depending on what you need.

  .subnav#services_nav
    %ul.nav.nav-pills
      %li= link_to "Ruby on Rails", "#ror"
      %li= link_to "Symfony | Magneto", "#php"
      %li= link_to "Project Management", "#pm"
      %li= link_to "Front end Dev", "#front"

#services
  #ror.service.row
    %h2 Ruby on Rails
    .span4
      %h4 Code Sample
      = raw(draw_code("ruby.rb"))
      %br/
      = link_to "View code on Github", "#", :class => "btn"
    .span7
      %p We can build custom apps lightening quick in ROR. We are working on an internal opensource app called plist that demos some of our skills - https://github.com/staunchRobots/plist
      %p We listen to and are inspired by
      #rails_accordion
        .accordion-group
          .accordion-heading 
            %p.accordion-toggle{"data-toggle" => "collapse", "data-target" => "#uno", "data-parent" => "#rails_accordion"} Agregators
          #uno.accordion-body.collapse.in
            .accordion-inner
              %ul
                %li
                  %a{:href => "http://www.readwriteweb.com/hack/", :target => "_blank"}
                  %a{:href => "http://www.readwriteweb.com/hack/"}
                  %a{:href => "http://www.readwriteweb.com/hack/"} http://www.readwriteweb.com/hack/
                %li
                  %a{:href => "http://www.rubyflow.com/", :target => "_blank"}
                  %a{:href => "http://www.rubyflow.com/"}
                  %a{:href => "http://www.rubyflow.com/"} http://www.rubyflow.com/
                %li
                  %a{:href => "http://www.reddit.com/r/ruby/", :target => "_blank"}
                  %a{:href => "http://www.reddit.com/r/ruby/"}
                  %a{:href => "http://www.reddit.com/r/ruby/"} http://www.reddit.com/r/ruby/
                %li
                  %a{:href => "http://c5nn.carbonfive.com/", :target => "_blank"}
                  %a{:href => "http://c5nn.carbonfive.com/"}
                  %a{:href => "http://c5nn.carbonfive.com/"} http://c5nn.carbonfive.com/
        .accordion-group
          .accordion-heading
            %p.accordion-toggle{"data-toggle" => "collapse", "data-target" => "#dos", "data-parent" => "#rails_accordion"} Blogs
          #dos.accordion-body.collapse
            .accordion-inner
              %ul
                %li
                  %a{:href => "http://blog.carbonfive.com/", :target => "_blank"}
                  %a{:href => "http://blog.carbonfive.com/"}
                  %a{:href => "http://blog.carbonfive.com/"} http://blog.carbonfive.com/
                %li
                  %a{:href => "http://avdi.org/devblog/", :target => "_blank"}
                  %a{:href => "http://avdi.org/devblog/"}
                  %a{:href => "http://avdi.org/devblog/"} http://avdi.org/devblog/
                %li
                  %a{:href => "http://yehudakatz.com/", :target => "_blank"}
                  %a{:href => "http://yehudakatz.com/"}
                  %a{:href => "http://yehudakatz.com/"} http://yehudakatz.com/
                %li
                  %a{:href => "http://www.igvita.com/", :target => "_blank"}
                  %a{:href => "http://www.igvita.com/"}
                  %a{:href => "http://www.igvita.com/"}
                    http://www.igvita.com/
                    %span{:style => "color: black;"} (ftw !!!)
                %li
                  %a{:href => "http://blog.hasmanythrough.com/", :target => "_blank"}
                  %a{:href => "http://blog.hasmanythrough.com/"}
                  %a{:href => "http://blog.hasmanythrough.com/"} http://blog.hasmanythrough.com/
                %li
                  %a{:href => "http://www.engineyard.com/blog/", :target => "_blank"}
                  %a{:href => "http://www.engineyard.com/blog/"}
                  %a{:href => "http://www.engineyard.com/blog/"} http://www.engineyard.com/blog/
                %li
                  %a{:href => "http://robots.thoughtbot.com/", :target => "_blank"}
                  %a{:href => "http://robots.thoughtbot.com/"}
                  %a{:href => "http://robots.thoughtbot.com/"} http://robots.thoughtbot.com/
                %li
                  %a{:href => "https://github.com/blog", :target => "_blank"}
                  %a{:href => "https://github.com/blog"}
                  %a{:href => "https://github.com/blog"} https://github.com/blog
                %li
                  %a{:href => "https://makandracards.com/makandra", :target => "_blank"}
                  %a{:href => "https://makandracards.com/makandra"}
                  %a{:href => "https://makandracards.com/makandra"} https://makandracards.com/makandra
                %li
                  %a{:href => "http://thechangelog.com/", :target => "_blank"}
                  %a{:href => "http://thechangelog.com/"}
                  %a{:href => "http://thechangelog.com/"} http://thechangelog.com/
                %li
                  %a{:href => "http://confreaks.net/", :target => "_blank"}
                  %a{:href => "http://confreaks.net/"}
                  %a{:href => "http://confreaks.net/"} http://confreaks.net/

  #php.service.row
    %h2#phptitle PHP - SYMFONY / Magento
    .span4
      %h5 Code Sample
      = raw(draw_code("php.php"))
      %br/
      = link_to "View code on Github", "#", :class => "btn"
    .span7
      %p We have some of the top PHP talent in the world. We apreciate the beauty of Symfony and Magento and subspecialize in those frameworks.
      %p We have an opensource ecomerce project we are working on, check out our code samples to see the quality of our work - https://github.com/staunchRobots/Symfony-Groovy-Ecom.

  #pm.service.row
    %h2 SYSADMIN WORK / MISC
    .span4
      %h4 Code Sample
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui felis, fermentum et ornare eget, malesuada sed lacus. Maecenas faucibus metus nec elit lobortis eleifend molestie justo eleifend.
      = link_to "View code on Github", "#", :class => "btn"
    .span7
      %ul
        %li All work is integrated with git or svn repo’s (client’s choice).
        %li All our developer’s love linux.
        %li We write Shell Deploy / Backup Scripts.
        %li We love server config: nginX / apache / unicorn Config.
        %li We nerd out on sysem performance - cloud balancing / load testing, etc.
        %li Relational, or Relationless DB’s: We are experienced with MYSQL / MONGO / REDIS
  #front.service.row
    %h2 FRONT END SKILLS
    .span4
      %h4 Code Sample
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dui felis, fermentum et ornare eget, malesuada sed lacus. Maecenas faucibus metus nec elit lobortis eleifend molestie justo eleifend.
      = link_to "View code on Github", "#", :class => "btn"
    .span7
      %p Our markup stack varies per project but all our developers love elegant markup / JS.
      #front_accordion
        .accordion-group
          .accordion-heading 
            %p.accordion-toggle{"data-toggle" => "collapse", "data-target" => "#one", "data-parent" => "#front_accordion"} Markup: Bleeding edge HTML / CSS: We like frameworks
          #one.accordion-body.collapse.in
            .accordion-inner
              %ul
                %li NORMALIZE.CSS, standard
                %li LIQUID 960 GS, no sweat
                %li HTML 5 / CSS3, ohh yea.
                %li HAML / SASS,  we got that.
        .accordion-group
          .accordion-heading 
            %p.accordion-toggle{"data-toggle" => "collapse", "data-target" => "#two", "data-parent" => "#front_accordion"} We Love Js, and keep up with latest trends
          #two.accordion-body.collapse
            .accordion-inner
              %ul
                %li Jquery,  
                %li jsCocoa, 
                %li less.js
                %li Backbone.js
        .accordion-group
          .accordion-heading 
            %p.accordion-toggle{"data-toggle" => "collapse", "data-target" => "#three", "data-parent" => "#front_accordion"} Mobile Compatability 
          #three.accordion-body.collapse
            .accordion-inner
              %ul
                %li
                  We offer mediatype styling for specific layouts -
                  %a{:href => "http://www.w3schools.com/css/css_mediatypes.asp"}
                  %a{:href => "http://www.w3schools.com/css/css_mediatypes.asp"} http://www.w3schools.com/css/css_mediatypes.asp
                %li
                  We have experience writing JS / html 5 to extend mobile device functionality with titatium / appcellerator
                  %a{:href => "http://www.appcelerator.com/"}
                  %a{:href => "http://www.appcelerator.com/"} http://www.appcelerator.com/
    
:javascript
  $(document).ready(function(){
    $("#navbar").scrollspy();

    $("#services_nav a").click(function(){
      element = $(this).attr("href");
      var top = $(element).offset().top - 80
      console.log(top);
      $(document).scrollTop(top);
      return false
    });
    $("#rails_accordion").collapse({parent: true, toggle: true}).height('auto');
    $("#front_accordion").collapse({parent: true, toggle: true}).height('auto');

    // fix sub nav on scroll
    var $win = $(window)
      , $nav = $('.subnav')
      , navTop = $('.subnav').length && $('.subnav').offset().top - 40
      , isFixed = 0

    processScroll()

    $win.on('scroll', processScroll)

    function processScroll() {
      var i, scrollTop = $win.scrollTop()
      if (scrollTop >= navTop && !isFixed) {
        isFixed = 1
        $nav.addClass('subnav-fixed')
      } else if (scrollTop <= navTop && isFixed) {
        isFixed = 0
        $nav.removeClass('subnav-fixed')
      }
    }
  });
